[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "deps/blend2d"]
	path = deps/blend2d
	url = https://github.com/blend2d/blend2d.git
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
